.file-selection {
  ul {
    width: 690px;
  }
  li:hover {
    cursor:pointer;
    background-color: #5498DA;
    color: #FFFFFF;
  }
  li {
    list-style: none;
    width: 220px
  }
}

.file-list ul {
  position: absolute;
  background-color: white;
  opacity: .9;
  z-index: 10;
  border: 1px solid;
  padding: 8px;
}
.file-selection {
  button,input {
    margin-bottom: 10px;
  }
  input:readonly {
    border: none;
  }
}
